*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content{
    margin-top: 7rem;
    align-items: center;
    text-align: center;
}
.content h2{
    font-size: 3rem;
    font-weight: 500;
}
.sectionTwopara{
  padding: 0rem 2rem 0rem 2rem;
}


.img2{
    width: 35%;
    margin-top: 2rem;
    margin-left: 3rem;
}
.content2{
    display: flex;
}
.para{
    display:inline-block;
    padding-top: 10rem;
    padding-left: 2rem;
}
.para h1{
    font-size: 3rem;
    
}
.content2heading{
    font-size: 3rem;
    font-weight: 500;
}
.para p{
    padding-top: 1rem;
    font-size: 1.2rem;
    padding-right: 5rem;
}
.sec2box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0; /* No gap between items */
    width: 800px;
    height: 120px; 
    row-gap: 8px;
    column-gap: 8px ;
    margin-top: 2rem;
    padding-left: 2rem;
}
.boxcontent {
    background-color: #fff;
    /* border: 1px solid #000; */
    border-bottom: 1px solid rgb(242, 232, 232) ;
    
 } 
 .boxcontent:hover{
    border-bottom: 2px solid rgb(104, 237, 140) ;
 }
